
@{
    ViewBag.Title = "Matenimiento";
}

<h2>Matenimiento</h2>
<div>
    <a>@Html.ActionLink("Categoria","Index","Categorias")</a><br />
    <a>@Html.ActionLink("Produtos","Index","Productoes")</a>
</div>

